.post-topic {
    margin: 0px 4px;
}

body {
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.logo-main, 
.recent-posts {
    display: grid;
    justify-items: center;
}

$color-gray-one: #666666;
$color-gray-two:  #b3b3b3;
$color-blue-one:  #0079ff;

@import "./mixins.scss";
@import "./home.scss";
@import "./searchBar.scss";
@import "./post.scss";
@import "./recentPosts.scss";
@import "./results.scss";
